.heading{
    font-family: 'Raleway', sans-serif;
    font-weight: 2rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
}
.buscador{
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: left;
}
.btn-block{
    width: 100%;
}
select{
    margin:2rem;
}
#fondo{
    background:#fff;
}

@media only screen and (min-width: 993px){
.minoticia {
    height: 550px;
    margin-top:2rem;
}
}