.fondo{
    padding: 0rem 1rem 0rem 1rem!important;
}

#Infobae {
    background: #FF8E00;
    
}
#La-Voz-del-Interior {
    background: #0061AE;
    
}

#Clarin {
    background: #D80026;
    
}
#La-Nacion {
    background: #006998;
    
}
#Los-Andes-Mendoza {
    background: #40526F;
    
}
#Investing {
    background: #FAA61A;
    
}
#MDZ-Online {
    background: #EE0303;
    
}
#Diario-El-Dia {
    background: #00AEF0;
    
}
#El-Litoral {
    background: #36619A;
}
#CNN {
    background: #CB0000;
    
}
#Mundodeportivo {
    background: #C20E1A;
    
}
#Perfil {
    background: #557C9C;
    
}
#Ole {
    background: #94BE1F;
    
}



